<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Client - @Model.GetName()</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>--Client--</h1>
    </div>
    <form action="/clients/updateName" method="post">
      <h3>Client Name: @Model.GetName()</h3>
      <label for="newName">Update Name:</label>
      <input type="text" name="newName">

      <input type="hidden" name="clientId" value="@Model.GetId()">
      <button type="submit" name="button">Update</button>
    </form>
    <form action="/clients/updateStylistId" method="post">
      <h3>Client's Stylist Id: @Model.GetStylistId()</h3>
      <label for="newStylistId">Update Stylist Id:</label>
      <input type="text" name="newStylistId">
      <input type="hidden" name="clientId" value="@Model.GetId()">
      <button type="submit" name="button">Update</button>
    </form>
    <a href="/clients" class="btn btn-dark">View all Clients</a>
    <a href="/stylists" class="btn btn-dark">View all Stylists</a>
  </div>
</body>
</html>
